:root {
    --main: #1F0000;  /* dark brown */
    --lbrown: #835C3B; /* light brown */
    --lrbrown: blanchedalmond; /* lighter brown */
}

/* tmp */
* {
  border: 1px solid lightseagreen;
}

body {
  background-color: var(--main);
}

/* begin navbar */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, sans-serif;
}

/*nav {*/
/*  background: var(--main);*/
/*  !*float: left;*!*/
/*  height: 80px;*/
/*  width: 100%;*/
/*}*/

nav ul li {
  display: inline-flex;
  font-size: 1.5em;
  margin-left: 15px;
}

nav ul li a {
  color: var(--lrbrown);
  font-size: 1em;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover {
  background: var(--lbrown);
  transition: 1s;
}

.checkbtn {
  font-size: 30px;
  color: var(--lrbrown);
  float: left;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.btn-mininav {
  padding-top: 10px;
}

@media (max-width: 992px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--main);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 1s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,a.active{
    background: var(--lbrown);
    transition: 1s;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* end navbar */